# expore and cleanup
## and also add some features

In [48]:
import pandas as pd
import numpy as np  
import matplotlib.pyplot as plt
import seaborn as sns

In [49]:
file_path = '../Data/DM2425_ABCDEats_DATASET.csv'
df = pd.read_csv(file_path)
shape_of_df = df.shape
shape_of_df

(31888, 56)

In [50]:
df.head()

,customer_id,customer_region,customer_age,vendor_count,product_count,is_chain,first_order,last_order,last_promo,payment_method,...,HR_14,HR_15,HR_16,HR_17,HR_18,HR_19,HR_20,HR_21,HR_22,HR_23
0,1b8f824d5e,2360,18.0,2,5,1,0.0,1,DELIVERY,DIGI,...,0,0,0,0,2,0,0,0,0,0
1,5d272b9dcb,8670,17.0,2,2,2,0.0,1,DISCOUNT,DIGI,...,0,0,0,0,0,0,0,0,0,0
2,f6d1b2ba63,4660,38.0,1,2,2,0.0,1,DISCOUNT,CASH,...,0,0,0,0,0,0,0,0,0,0
3,180c632ed8,4660,NaN,2,3,1,0.0,2,DELIVERY,DIGI,...,1,0,0,0,0,0,0,0,0,0
4,4eb37a6705,4660,20.0,2,5,0,0.0,2,-,DIGI,...,0,0,0,0,0,0,0,0,0,0

## Remove Duplicates

In [51]:
df['customer_id'].unique().shape

(31875,)

oh no! there are repetitions!

In [52]:
#find repeated customer_id
repetitions = df['customer_id'].value_counts()
#keep only the customer_id that are repeated
repetitions = repetitions[repetitions > 1]
repetitions = repetitions.index
repetitions

Index(['742ca068fc', 'b55012ee1c', 'df91183978', '6bbf5f74cd', '24251eb7da',
       '201a13a34d', 'b8e7a643a4', 'cc08ef25ce', '8aa9bbc147', '671bf0c738',
       '06018a56be', 'fac7984c0d', 'cf563a0a98'],
      dtype='object', name='customer_id')

In [53]:
for customer_id in repetitions:
    rep_df = df[df['customer_id'] == customer_id]
    s = rep_df.shape
    s0 = 0
    for i in range(s[1]):
        s0 += rep_df.iloc[:,i].unique().shape[0]
    print(s0 - s[1])
    # remove ont of the repeated customer_id
    if s0 - s[1] == 0:
        df = df.drop(rep_df.index[0])
        print('dropped repeated customer {p}'.format( p = customer_id))

0
dropped repeated customer 742ca068fc
0
dropped repeated customer b55012ee1c
0
dropped repeated customer df91183978
0
dropped repeated customer 6bbf5f74cd
0
dropped repeated customer 24251eb7da
0
dropped repeated customer 201a13a34d
0
dropped repeated customer b8e7a643a4
0
dropped repeated customer cc08ef25ce
0
dropped repeated customer 8aa9bbc147
0
dropped repeated customer 671bf0c738
0
dropped repeated customer 06018a56be
0
dropped repeated customer fac7984c0d
0
dropped repeated customer cf563a0a98

In [54]:
print("rows: \t{p1} \nclients:{p2}".format( p1 = df.shape [0],
                                        p2 = df['customer_id'].unique().shape[0]))

rows: 	31875
clients:31875

## Non Numerical Columns

In [55]:
non_numerical_columns = df.select_dtypes(include=['object']).columns.tolist()
print(non_numerical_columns)

['customer_id', 'customer_region', 'last_promo', 'payment_method']

In [56]:
for col in non_numerical_columns:
    print(f'{col}: {df[col].unique()}')

customer_id: ['1b8f824d5e' '5d272b9dcb' 'f6d1b2ba63' ... 'f74ad8ce3f' 'f7b19c0241'
 'fd40d3b0e0']
customer_region: ['2360' '8670' '4660' '2440' '-' '4140' '2490' '8370' '8550']
last_promo: ['DELIVERY' 'DISCOUNT' '-' 'FREEBIE']
payment_method: ['DIGI' 'CASH' 'CARD']

In [57]:
df.loc[df['customer_region'] == '-', 'customer_region'] = np.nan

In [58]:
df['customer_region'].unique()

array(['2360', '8670', '4660', '2440', nan, '4140', '2490', '8370',
       '8550'], dtype=object)

In [59]:
df['last_promo'].unique()

array(['DELIVERY', 'DISCOUNT', '-', 'FREEBIE'], dtype=object)

In [60]:
df.loc[df['last_promo'] == '-', 'last_promo'] = "No_Promo"
df['last_promo'].unique()

array(['DELIVERY', 'DISCOUNT', 'No_Promo', 'FREEBIE'], dtype=object)

In [61]:
promo_count = df['last_promo'].value_counts()
promopercentage = promo_count / promo_count.sum() * 100
print(promopercentage)

last_promo
No_Promo    52.530196
DELIVERY    19.708235
DISCOUNT    14.105098
FREEBIE     13.656471
Name: count, dtype: float64

## Numerical Columns

In [62]:
numerical_columns = df.select_dtypes(include=['float64', 'int64']).columns.tolist()
print(numerical_columns)

['customer_age', 'vendor_count', 'product_count', 'is_chain', 'first_order', 'last_order', 'CUI_American', 'CUI_Asian', 'CUI_Beverages', 'CUI_Cafe', 'CUI_Chicken Dishes', 'CUI_Chinese', 'CUI_Desserts', 'CUI_Healthy', 'CUI_Indian', 'CUI_Italian', 'CUI_Japanese', 'CUI_Noodle Dishes', 'CUI_OTHER', 'CUI_Street Food / Snacks', 'CUI_Thai', 'DOW_0', 'DOW_1', 'DOW_2', 'DOW_3', 'DOW_4', 'DOW_5', 'DOW_6', 'HR_0', 'HR_1', 'HR_2', 'HR_3', 'HR_4', 'HR_5', 'HR_6', 'HR_7', 'HR_8', 'HR_9', 'HR_10', 'HR_11', 'HR_12', 'HR_13', 'HR_14', 'HR_15', 'HR_16', 'HR_17', 'HR_18', 'HR_19', 'HR_20', 'HR_21', 'HR_22', 'HR_23']

In [63]:
#check for missing values
missing_values = df.isnull().sum()
missing_values[missing_values > 0]

customer_region     442
customer_age        727
first_order         106
HR_0               1164
dtype: int64

FYI,there are missing values

## Build New Features

In [64]:
new_fetures_list = []
# is there  a naming convention for new features?

### delta_day_order
shows the time passed beween the first order and the last order
-- note:
we could adjust the parameter by using the highest day for the last order in the dataframe as today

In [65]:

df['delta_day_order'] = df['last_order'] - df['first_order'] + 1
new_fetures_list.append('delta_day_order')

### tot_value_cui
shows the total amunt of money spent on the app across all options

In [66]:
cui_columns = [col for col in df.columns if col.startswith('CUI')]
df['tot_value_cui'] = df[cui_columns].sum(axis=1)
new_fetures_list.append('tot_value_cui')

### frequencies and averages
more insightful informations about our customers habits

In [67]:
df['order_freq'] = df['product_count'] / df['delta_day_order']
df['value_freq'] = df['tot_value_cui'] / df['delta_day_order']
df['avg_order_value'] = df['tot_value_cui'] / df['product_count']

new_fetures_list.append('order_freq')
new_fetures_list.append('value_freq')
new_fetures_list.append('avg_order_value')

In [68]:
df['avg_order_value'] = np.where(df['product_count'] != 0, df['tot_value_cui'] / df['product_count'], 0)

### our new features

In [70]:
df[new_fetures_list].describe ()

,delta_day_order,tot_value_cui,order_freq,value_freq,avg_order_value
count,31769.000000,31875.000000,31769.000000,31769.000000,31875.000000
mean,36.414901,38.295857,0.470972,4.322951,7.536316
std,29.415668,46.410657,0.648714,7.995165,4.076761
min,1.000000,0.000000,0.000000,0.000000,0.000000
25%,4.000000,12.880000,0.093333,0.530833,4.092111
50%,35.000000,24.140000,0.171053,1.124000,6.905000
75%,63.000000,44.970000,0.666667,3.723810,10.125833
max,91.000000,1418.330000,14.000000,141.120000,24.390000

In [71]:
#check for missing values
missing_values = df[new_fetures_list].isnull().sum()
missing_values[missing_values > 0]

delta_day_order    106
order_freq         106
value_freq         106
dtype: int64

### check if I made a mess

In [74]:
nan_inf_counts_list = []

for new_feture in new_fetures_list:
    nan_count = df[new_feture].isna().sum()
    inf_count = df[new_feture].isin([np.inf, -np.inf]).sum()
    nan_inf_counts = {
        'feature:': new_feture,
        'nan_count': nan_count,
        'inf_count': inf_count
    }
    
    nan_inf_counts_list.append((new_feture, nan_count, inf_count))
    
df_naninf = pd.DataFrame( nan_inf_counts_list)
df_naninf

                 0    1  2
0  delta_day_order  106  0
1    tot_value_cui    0  0
2       order_freq  106  0
3       value_freq  106  0
4  avg_order_value    0  0

In [75]:
df[new_fetures_list].describe()

,delta_day_order,tot_value_cui,order_freq,value_freq,avg_order_value
count,31769.000000,31875.000000,31769.000000,31769.000000,31875.000000
mean,36.414901,38.295857,0.470972,4.322951,7.536316
std,29.415668,46.410657,0.648714,7.995165,4.076761
min,1.000000,0.000000,0.000000,0.000000,0.000000
25%,4.000000,12.880000,0.093333,0.530833,4.092111
50%,35.000000,24.140000,0.171053,1.124000,6.905000
75%,63.000000,44.970000,0.666667,3.723810,10.125833
max,91.000000,1418.330000,14.000000,141.120000,24.390000